* text=auto eol=lf

.aiassistant/ export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
.gitmessage export-ignore
.php-cs-fixer.php export-ignore
.phpunit.result.cache export-ignore
bin/application-version export-ignore
bin/lean-package-validator.phar export-ignore
bin/release-version export-ignore
bin/start-watchman export-ignore
box.json.dist export-ignore
CHANGELOG.md export-ignore
example/ export-ignore
LICENSE.md export-ignore
llms.txt export-ignore
lpv-logo.png export-ignore
mago.toml export-ignore
peck.json export-ignore
phpstan.neon.dist export-ignore
phpunit.xml.dist export-ignore
README.md export-ignore
tests/ export-ignore
