language: php

env:
  global:
    - EXCLUDEGROUP=travis-ci-exclude
    - DISABLE_XDEBUG=true

git:
  depth: 2

matrix:
  include:
    - php: hhvm-3.9
      sudo: required
      dist: trusty
      group: edge
    - php: nightly
    - php: 7.1
      env:
      - LINT=true
    - php: 7.0
    - php: 5.6
      env:
      - EXCLUDEGROUP=travis-ci-exclude-56

  fast_finish: true
  allow_failures:
    - php: nightly
    - php: hhvm-3.9

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.php-cs-fixer

notifications:
  email: false

before_script:
  - phpenv config-rm xdebug.ini || true
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction
  - travis_retry composer dump-autoload --optimize

script:
  # Use custom script to avoid the risk of terminating the build process
  - ./bin/travis/fail-non-feature-topic-branch-pull-request
  # Verify application version and Git tag match on tagged builds
  - if [[ ! -z "$TRAVIS_TAG" ]]; then
      composer lpv:application-version-guard;
    fi
  # Verify coding standard compliance only once
  - if [[ $LINT = true ]]; then
      composer lpv:cs-lint;
    fi
  - if [[ $EXCLUDEGROUP = travis-ci-exclude ]]; then
      composer lpv:test -- --exclude-group travis-ci-exclude;
    fi
  - if [[ $EXCLUDEGROUP = travis-ci-exclude-56 ]]; then
      composer lpv:test -- --exclude-group travis-ci-exclude-56;
    fi
