{
    "$schema": "res/schema.json",
    "directories": ["src", "vendor/symfony/console/Resources"],
    "force-autodiscovery": true,
    "finder": [
        {
            "name": "*.php",
            "exclude": ["tests", ".github", "example", ".*"],
            "in": "vendor"
         }
    ]
}
