parameters:
    level: max
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Constant WORKING_DIRECTORY not found.#'
        - '#Mockery\\MockInterface#'
        - '#Mockery\\LegacyMockInterface#'
        - '#Mockery\\ExpectationInterface#'
        - '#array_filter#'
        - '#cannot be cast to string#'
        - '#Cannot cast#'
